In [1]:
from typing import List
import requests
import json
import pandas as pd
import numpy as np
import time
import sys
from collections.abc import MutableMapping,Iterable
import yaml
import datetime

R_ExtractDate = datetime.datetime.today().strftime("%Y-%m-%d")
frax_start_date= '2020-12-21'
frax_contract_address = "0x853d955aCEf822Db058eb8505911ED77F175b99e"

In [2]:
pdf_transactions = pd.read_csv("../data_raw/frax_hist_transactions.csv")
# pdf_transactions.shape # (420059, 13)
pdf_holding = pd.read_csv("../data_raw/frax_hist_holding.csv")
# pdf_holding.shape # (840118, 7)

In [3]:
pdf_transactions.head()

,blockNumber,timeStamp,from,to,value,transactionIndex,gas,gasPrice,gasUsed,cumulativeGasUsed,value_usd,date_time,date
0,11493365,1608508752,0x0000000000000000000000000000000000000000,0x57f627f2e848f05ffc0d10c2ab45870922b3b429,1998970008000,10,2000000,50000000000,300007,1581136,0.00,2020-12-20 23:59:12,2020-12-20
1,11493365,1608508752,0x57f627f2e848f05ffc0d10c2ab45870922b3b429,0x97c4adc5d28a86f9470c70dd91dc6cc2f20d2d4d,1998970008000,10,2000000,50000000000,300007,1581136,0.00,2020-12-20 23:59:12,2020-12-20
2,11493365,1608508752,0x642a101709e48d986844656f6ec7586bed71bedd,0xdec08cb92a506b88411da9ba290f3694be223c26,44094457473705767602,29,462643,29000000000,224353,2830679,44.09,2020-12-20 23:59:12,2020-12-20
3,11493366,1608508760,0x0000000000000000000000000000000000000000,0xf97b96d0749001d65c09e21a86a2ac156be704d0,449768251800000000000,4,501112,602905595865,217194,412075,449.77,2020-12-20 23:59:20,2020-12-20
4,11493366,1608508760,0x0000000000000000000000000000000000000000,0x934adbb72e3a8cbbd4dc0934fd2bd579948eaefb,14992275060000000000000,8,160881,250000000000,106795,1059762,14992.28,2020-12-20 23:59:20,2020-12-20

In [7]:
pdf_holding.head()

,blockNumber,timeStamp,value_usd,date_time,date,address,holding
0,11493365,1608508752,0.00,2020-12-20 23:59:12,2020-12-20,0x57f627f2e848f05ffc0d10c2ab45870922b3b429,0.00
1,11493365,1608508752,0.00,2020-12-20 23:59:12,2020-12-20,0x97c4adc5d28a86f9470c70dd91dc6cc2f20d2d4d,0.00
2,11493365,1608508752,44.09,2020-12-20 23:59:12,2020-12-20,0xdec08cb92a506b88411da9ba290f3694be223c26,44.09
3,11493365,1608508752,-0.00,2020-12-20 23:59:12,2020-12-20,0x0000000000000000000000000000000000000000,0.00
4,11493365,1608508752,-0.00,2020-12-20 23:59:12,2020-12-20,0x57f627f2e848f05ffc0d10c2ab45870922b3b429,0.00

# EDA on Holding data

In [8]:
pdf_holding